<div ng-controller="navbarController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand centralizar-logo" href="#/">
                    <img class="logotipo" alt="Brand" src="./image/logo.png">
                </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <!--
                <div class="navbar-right">
                    <button type="button" class="btn btn-success navbar-btn" >Sign in</button>
                    <button type="button" class="btn btn-success navbar-btn" ng-click="navigarPara('login')" >Login</button>
                </div>
                -->
                <ul class="nav navbar-nav">
                    <li ><a href="#!">Home</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Problemas<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!problema-listagem">Listagem</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>